body {
    margin: 0.3125rem 1.25rem 0rem 1.25rem;
}

.wrapper {
    font-family: sans-serif;
    font-size: 1em;
    margin: 1em 0 1em 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1em;
    grid-template-areas: "header" "content" "footer";
}

header {
    margin: 1.25rem 0;
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

.heading {
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 0.3125rem;
}

.mobile-nav {
    visibility: hidden;
}

.mobile-nav>img {
    width: 1.5625rem;
    height: auto;
}

.cart img {
    width: 2.5em;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

main {
    justify-self: center;
    grid-area: content;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin-top: 0.625rem;
}

.name {
    grid-column: 1 / 3;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.25rem;
}

.name>p {
    margin: 0.125rem;
    color: gray;
}

.name>p:nth-child(1) {
    font-size: 1.0625rem;
    font-weight: 500;
    color: black;
}

.checkout-heading {
    font-weight: bold;
}

input {
    border: transparent;
    outline: none;
    font-size: 1.0625rem;
    margin-top: 0.9375rem;
    border-bottom: 0.0625rem solid gray;
    margin: 1.5625rem 0;
    width: 100%;
}

.animation-group {
    position: relative;
}

span {
    position: absolute;
    top: 1.5em;
    color: gray;
    font-size: 1rem;
}

input:focus {
    animation: input-animation 0.2s ease-out;
    animation-fill-mode: forwards;
}

input:focus~span {
    animation: input-anim-end 0.2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes input-animation {
    from {
        border-bottom: 0.125rem solid gray;
    }
    to {
        border-bottom: 0.125rem solid black;
    }
}

@keyframes input-anim-end {
    from {
        top: 1.5em;
        color: gray;
        font-size: 1rem;
    }
    to {
        top: 0.5em;
        color: black;
        font-size: 0.8125rem;
    }
}

select {
    border: transparent;
    outline: none;
    border-bottom: 0.0625rem solid gray;
    margin: 1.5625rem 0;
    font-size: 1.0625rem;
}

.delivery-details {
    width: 80%;
}

.state-and-zip {
    display: flex;
    justify-content: space-between;
}

.delivery-details>div>div>input {
    width: 100%;
}

.country-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-details {
    width: 80%;
}

.expiry-details {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
    align-items: flex-end;
}

.expiry-details>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-details>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.expiry-details select {
    width: 100%;
}

#alt-details-show {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
}

button {
    width: 10.9375rem;
    height: 2.5rem;
    border: 0.125rem solid black;
    font-weight: 400;
    color: black;
    margin: 0.9375rem 0 0.9375rem 0;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>div {
    width: 8.125rem;
    height: 2.8125rem;
    text-align: center;
}

footer>div:nth-child(2) {
    background: black;
    color: white;
}

/* Style definition for HD screens */

@media only screen and (min-width: 90rem) {
    main {
        width: 90rem;
        justify-self: center;
    }
}

/* Style definition for small or mobile size screens */

@media only screen and (min-width: 19.9375rem) and (max-width: 47.9375rem) {
    body {
        margin: 0.3125rem 0.3125rem 0 0.3125rem;
    }
    .wrapper {
        grid-gap: 0;
        font-size: .8em;
    }
    .name {
        margin-bottom: 0;
    }
    header {
        margin: 0.625rem 0.625rem;
    }
    .mobile-nav {
        visibility: hidden;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 110%;
        width: 100%;
    }
    .delivery-details, .card-details{
        width: 93%;
    }
    .state-and-zip {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .name>p:nth-child(1) {
        font-size: 0.9375rem;
        font-weight: 500;
        color: black;
    }
    button {
        width: 100%;
        height: 4em;
        position: fixed;
        background: #3B5da3;
        font-weight: 500;
        color: white;
        border: 0;
        margin: 0;
        bottom: 0;
        left: 0;
    }
    footer {
        display: none;
    }
}
